{{ template "base" .}}
{{ define "title"}}
    Home Page
{{ end }}
{{ define "content" }}
<ots-title text="Hallo Lothar"></ots-title>
<img src="/assets/icons/bearbeiten.svg"><br>
<div>
    <ots-title text="Hallo Schmid"></ots-title>
</div>
<ots-title text="Hallo Hans"></ots-title>
{{ end }}
