{{ define "logout" }}
    <!doctype html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{ block "title" .}}
            {{ end }}
        </title>
        <link href="/assets/style.css" rel="stylesheet" type="text/css">  
        <script src="/assets/js/main.js" type="module"></script> 
    </head>
    <body>
        <h1>Sie sind nicht angemeldet!</h1>
        {{ block "content" .}}{{ end }}        
    </body>
{{ end }}